
*{
	box-sizing: border-box;
}


body{
	background-color: cornsilk;
	color: #444;
	font-family: helvetica;

}

blockquote{
	margin-left: 0;
}

header{
	background-color: #444;
	height: 7em;
	text-align: center;
    margin: auto;
    color: tomato;

}



h1{
	color: tomato;
	

}


img{
	width: 100%;
	height: 20em;
	
}




article{
	padding: 10px;
	margin: 10px;
	background-color: #444;
	color: cornsilk;
}

.container{
	display: flex;
	flex-direction: row;
	align-items: center;

}






.butt{
	text-decoration: none;
	cursor: pointer;
	color: #444;
	font-size: 12px;


}

button{
	background-color: tomato;
	color: #444;
	border: 1px tomato groove;
}



h2{
	font-size: 30px;
	margin: auto;
	text-align: center;
}






.foot{
	width: 100%;
	height: 8em;
	padding: 2em;
	border: 5px solid #444;
	border-radius: 2em;
	margin-bottom: 50px;
	text-align: center;
}






















